RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

Options -Indexes
DirectoryIndex index.grid

AddType application/x-httpd-php .grid

RewriteRule ^(.+[^/])$ index.grid?p=$1 [QSA,L]

ErrorDocument 404 /404
ErrorDocument 403 /403

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
Order Allow,Deny
Deny from all
</FilesMatch>